/* homepage.css */

.homepage {
  background-color: #f2f2f2;
}

.homepage header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.homepage-title {
  margin: 0;
}

.homepage main {
  padding: 20px;
}

.homepage-content {
  background-color: #fff;
  padding: 20px;
}

.homepage-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}